In [4]:
#data sourcing
import sqlite3

#data manipulation
import pandas as pd

#preprocessing and modelling
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

Quering with Pandas

In [7]:
#reading the sql query into a dataframe
df = pd.read_sql_query()

TypeError: read_sql_query() missing 2 required positional arguments: 'sql' and 'con'

In [12]:
# get data from database
def get_data():
    conn = sqlite3.connect("/home/arvin/code/ArvinAzimifard/data-challenges/01-Python/03-SQL-Basics/04-Interacting-With-Code/data/movies.sqlite")
    db = conn.cursor()
    return db

In [13]:
get_data()

In [ ]:
# path to local database
PATH_TO_DB = '../raw_data/title-of-db.sqlite'

def predict(country, n_centers):
    """
    This function takes a country code (3 letters) and
    a number of centers n_centers.
    It returns a list of optimal coordinates.
    """
    # connect to database
    conn = sqlite3.connect(PATH_TO_DB)
    db = conn.cursor()

    # load data with pandas
    param = (country, )
    query = """
            SELECT lon, lat, pop
            FROM {}
            """
    # data should contain the country data
    data = pd.read_sql_query(query.format(country), con=conn)

    # scaler on pop column
    scaler = MinMaxScaler()
    df_small.loc[:,'pop'] = scaler.fit_transform(df_small[['pop']])
    
    # do kmeans clustering with n_centers
    # elbow method
    wcss = []
    for i in range(1, 11):
        kmeans = KMeans(n_clusters = i,
                        max_iter = 300,
                        n_init = 10,
                        random_state = 0)
        kmeans.fit(X=df_small[['lat', 'lon']], sample_weight=df_small['pop'])
        wcss.append(kmeans.inertia_)
    

    # return center coordinates
    return kmeans.cluster_centers_


## Check ##
# to check your code, run:
# python -m Globalizer.predict
if __name__=="__main__":
    print(predict(country = "ARG", n_centers = 5))

In [39]:
import sqlite3
import pandas as pd

# path to local database
PATH_TO_DB = '../raw_data/countrypop(2).db'

# connect to database
def get_data(country):
    '''This function get's the Data from a local Database
    and converts it to a Dataframe'''
    conn = sqlite3.connect(PATH_TO_DB)
    
    param = (country)  
    query = (f"""
                SELECT lon, lat, pop
                FROM {param}
                
                """)

    data = pd.read_sql_query(query.format(param), con=conn)  
    
    return data

In [40]:
get_data("ABW")

           lon        lat        pop
0   -70.063750  12.545417  14.850115
1   -70.063750  12.537083  10.358201
2   -70.055416  12.620417   0.000000
3   -70.055416  12.612083  16.689957
4   -70.055416  12.603750  49.780464
..         ...        ...        ...
266 -69.872083  12.428750   5.795240
267 -69.872083  12.420417  10.164492
268 -69.872083  12.412083   2.496273
269 -69.863750  12.420417   1.479186
270 -69.863750  12.412083   0.268710

[271 rows x 3 columns]